<head>
  <%= stylesheet_link_tag "application.css" %> </head>
<p id="notice"><%= notice %></p>
<div class="row" style="height:120px">

     <div class="col">
      <h1 style="text-align:left; padding-left:2%;">Welcome to Chef's Brigade!</h1>
    </div> 
</div>
<div class="row" style="background-color:#aad4e5;color:black;">
     <div class="col-9" style="text-indent:70px;text-align:center;">
     <p style="color:inherit;">
      Our mission: Ice cream ice cream cake tootsie roll toffee sugar plum sugar plum. Lollipop liquorice cupcake tart soufflé dragée. Muffin dragée gingerbread bear claw pie tart. Ice cream cookie cookie lemon drops chocolate bar. Cookie oat cake sesame snaps jelly-o carrot cake ice cream caramels halvah cheesecake. Muffin apple pie chocolate bar icing brownie marzipan gummi bears lemon drops. Soufflé jelly liquorice jujubes lemon drops cake chocolate wafer. Shortbread gingerbread donut halvah dessert caramels bonbon danish. Tiramisu sesame snaps sweet roll cheesecake oat cake. Muffin chocolate chocolate bar pie lollipop powder halvah. Powder caramels danish cake cupcake pudding halvah gummi bears oat cake. Croissant jelly-o sugar plum chocolate bar candy canes toffee carrot cake cake jelly beans.

Sweet pastry marzipan icing chocolate bar biscuit. Pastry tootsie roll jelly beans dragée chocolate cake jelly-o candy canes. Caramels candy croissant pastry tart cheesecake. Croissant toffee tart chocolate bar marzipan sugar plum macaroon soufflé. Muffin ice cream pastry lollipop icing. Sweet roll candy canes jelly-o bonbon gummi bears soufflé. Gingerbread cake pudding brownie oat cake gummies marshmallow cake. Tootsie roll cheesecake cheesecake tiramisu marzipan sweet roll pie oat cake pudding. Cheesecake chocolate bar sesame snaps liquorice gingerbread cupcake carrot cake pudding pastry. Apple pie lollipop jelly-o oat cake apple pie. Jelly beans liquorice halvah gingerbread carrot cake muffin chocolate cake. Croissant soufflé macaroon marzipan fruitcake brownie jujubes fruitcake. Halvah jelly-o sesame snaps pudding jelly beans carrot cake topping. Jujubes apple pie tootsie roll jelly-o gummi bears.
    </p>
    </div> 
    <div class="col">
    <img src="https://st4.depositphotos.com/1037987/23734/i/1600/depositphotos_237346308-stock-photo-multi-generation-mixed-race-family.jpg" width="100%" height="auto">
    </div> 

</div>
