<head>
  <%= stylesheet_link_tag "application.css" %> </head>
<p id="notice"><%= notice %></p>
<div class="row" style="height:47px">

     <div class="col">
      <h1 style="text-align:left; padding-left:2%;">My Profile</h1>
    </div> 
</div>

    <div class="row" style="background-color:#aad4e5;color:black;">
        <div  class="col-11" style="text-indent:120px;text-align:center;">
        <p style="color:inherit;">
        Hi, <%= current_user.first_name %>!
        
        </p>
    </div>
    </div>
<div>
