<head>
  <%= stylesheet_link_tag "application.css" %> </head>
<div class="wrapper">
<div class="homepage">
<p id="notice"><%= notice %></p>
<div class="row" style="height:47px">

     <div class="col">
      <h1 style="text-align:left; padding-left:2%;">Welcome to Chef's Brigade!</h1>
    </div> 
</div>
<div class="row">
     <div class="col-9" style="text-indent:70px;text-align:center;">
     <p style="color:inherit;indent:40px;">
      Chef's Brigade is a united coalition of independent restaurants, purveyors and chefs working together under a culinary brigade system to feed healthy and amazing food to the citizens, front line responders and healthcare workers of New Orleans on a daily basis.

     <p> Log in or create an account to get started!</p>  
    </p>

    </div> 
    <div class="col">
    <img alt= "A chef garnishing a delicious meal!" src="https://images.unsplash.com/photo-1572715376701-98568319fd0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" width="100%" height="auto">
    </div> 

</div>
</div>
</div>
