<head>
  <%= stylesheet_link_tag "application.css" %> </head>
<p id="notice"><%= notice %></p>
<div class="row" style="height:47px">

     <div class="col">
      <h1 style="text-align:left; padding-left:2%;">Welcome to Chef's Brigade!</h1>
    </div> 
</div>
<div class="row" style="background-color:#aad4e5;color:black;">
     <div class="col-9" style="text-indent:70px;text-align:center;">
     <p style="color:inherit;">
      This is an application for disaster response that simplifies the distribution of locally prepared meals to food-insecure folks, as well as first responders. In its simplest form, it has ‘customers’ that would leave a request for a specific number of meals on certain days, software that accumulates those numbers and distributes them among ‘restaurants’ based on restaurant capacity, ‘program admins’ that can approve/edit those numbers, and ‘restaurants’ that prepare meals and deliver them to the distribution center. More advanced versions can also work on facilitating delivery and restaurant invoicing.
    </p>
    <p>
    Our mission: some text here
    </p>
    </div> 
    <div class="col">
    <img src="https://st4.depositphotos.com/1037987/23734/i/1600/depositphotos_237346308-stock-photo-multi-generation-mixed-race-family.jpg" width="100%" height="auto">
    </div> 

</div>
