/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper {
  width: 100%;
  background-color: #343a40;
  height:120vh;
  overflow-y: hidden;
}
.homepage {
  background-image: linear-gradient(to bottom, #ffffff 0%, #00b7ff 100%);
  margin: 0px 5% 0px 5%;
  padding: 10px 0px 200px 0px;
  height:120vh;
  overflow-y: hidden;
}

.homepage h1 {
  text-align: center;
}
.homepage img{
  border: 5px groove rgb(231, 189, 0);
  margin-right: 1px;
}
footer{
  color: whitesmoke;
}
table{
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 20px;
letter-spacing: 1.6px;
word-spacing: 1px;
color: #176AB0;
font-weight: normal;
text-decoration: none;
font-style: normal;
text-transform: none;
font-variant: none;
border: 1px solid black;
width: 100%;
border-bottom:1px solid black;
}

h1{
text-align: center;
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 27px;
letter-spacing: 1.6px;
word-spacing: 1px;
color: #000000;
font-weight: bold;
text-decoration: none;
font-style: normal;
text-transform: none;
font-variant: small-caps;
}

title, a{
text-align: center;
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 27px;
letter-spacing: 1.6px;
word-spacing: 1px;
color:gray;
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

a:hover, a:active {
  color: lightgray;
}

p, li,  tbody, h4{
text-align: center;
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 18px;
letter-spacing: 2px;
word-spacing: 1px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
text-transform: none;
font-variant: none;

}
.card {display:inline-block;}
th { text-align: center;
}
.signinBox{
  background-image: linear-gradient(to bottom, #ffffff 0%, #00b7ff 100%);
  text-align: center;
  padding: 10px;
  height:110vh;
}
.signinBox h2 {
  font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-transform: none;
  font-variant: small-caps;
  text-align: center;
  font-size: 300%;
  text-shadow: 2px 3px 5px gray;
}
.signinBox h3 {
  margin-top: 45px;
  text-align: center;
  text-decoration: underline;
  font-size: 200%;

}
.signinBox .field {
  font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-variant: small-caps;
  margin-left: 40%;
  width: 20%;
  margin-bottom: 2px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 14px;
  text-align:center;
  background-color: #ffffff;
}

.signinBox .actions .btn{
  height: 50px;
  border: 3px solid whitesmoke;
  margin-top: 15px;
  margin-left: 0%;
  font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-variant: small-caps;
  padding: 10px;
  border-radius: 14px;
  text-align:center;
  vertical-align: middle;
  transition: all 2s;
}
.signinBox .actions .btn:hover{
  color:black;
  background-color: whitesmoke;
  border: 3px solid black;
  font-size: 120%;
  vertical-align: middle;
  text-align: center;
  padding: 10px 90px 10px 90px;
  transition: all 2s;
}

.stickBottom{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  bottom: 10;
}
body { padding-top: 70px; }

.userWrapper{
  background-image: linear-gradient(to bottom, #ffffff 0%, #00b7ff 100%);
  padding-bottom: 100px;
  height:120vh;
  overflow-y: hidden;
}
.userWrapper thead{
  border-bottom: rgb(231, 189, 0) double 5px;
  
}
.userWrapper th{
  text-align: center;
  background-color: inherit;
  
}
.userWrapper td{
  text-align: center;
  background-color: inherit;
  border-left: #343a40 groove 2px;
  border-right: #343a40 groove 2px;
  border-bottom: #343a40 double 2px;
}
.userWrapper .btn{
  height: 50px;
  border: 3px solid whitesmoke;
  margin-top: 15px;
  margin-left: 0%;
  font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-variant: small-caps;
  padding: 10px;
  border-radius: 14px;
  text-align:center;
  vertical-align: middle;
  transition: all 2s;
}
.userWrapper .btn:hover{
  color:black;
  background-color: whitesmoke;
  border: 3px solid black;
  font-size: 120%;
  vertical-align: middle;
  text-align: center;
  padding: 10px 90px 10px 90px;
  transition: all 2s;
}
.restaurantWrapper{
  background-image: linear-gradient(to bottom, #ffffff 0%, #00b7ff 100%);
  padding-bottom: 100px;
}
.restaurantWrapper a{
color: whitesmoke;
  
}
@media only screen and (max-width: 800px) {
  .homepage {
    background-image: linear-gradient(to bottom, #ffffff 0%, #00b7ff 100%);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }}
