/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

footer{
  color: whitesmoke;
}
table{
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 20px;
letter-spacing: 1.6px;
word-spacing: 1px;
color: #176AB0;
font-weight: normal;
text-decoration: none;
font-style: normal;
text-transform: none;
font-variant: small-caps;
border: 1px solid black;
width: 100%;
border-bottom:1px solid black;
}

h1{
text-align: center;
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 27px;
letter-spacing: 1.6px;
word-spacing: 1px;
color: #000000;
font-weight: bold;
text-decoration: none;
font-style: normal;
text-transform: none;
font-variant: small-caps;
}

title, a{
text-align: center;
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 27px;
letter-spacing: 1.6px;
word-spacing: 1px;
color: #000000;
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

p, li,  tbody, h4{
text-align: center;
font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 18px;
letter-spacing: 2px;
word-spacing: 1px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
text-transform: none;
font-variant: small-caps;

}
.card {display:inline-block;}
th { text-align: center;
}
.signinBox{
  background-image: linear-gradient(to bottom, #ffffff 0%, #00b7ff 100%);
  text-align: center;
  padding: 10px;
}
.signinBox h2 {
  font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-transform: none;
  font-variant: small-caps;
  text-align: center;
  font-size: 300%;
  text-shadow: 2px 3px 5px gray;
}
.signinBox h3 {
  margin-top: 45px;
  text-align: center;
  text-decoration: underline;
  font-size: 200%;

}
.signinBox .field {
  font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-variant: small-caps;
  margin-left: 40%;
  width: 20%;
  margin-bottom: 2px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 14px;
  text-align:center;
  background-color: #ffffff;
}

.signinBox .actions .btn{
  height: 50px;
  border: 3px solid whitesmoke;
  margin-top: 15px;
  margin-left: 0%;
  font: 'San Francisco', Helvetica, Arial, san-serif;font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-variant: small-caps;
  padding: 10px;
  border-radius: 14px;
  text-align:center;
}
